.wp-block-workshopscpt-workshops {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr;
  justify-content: stretch;
  align-content: stretch;
}

@media (min-width: 800px) {
  .wp-block-workshopscpt-workshops {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

.wp-block-workshopscpt-workshops .workshop {
  position: relative;
  display: flex;
  flex-direction: column;
}

.wp-block-workshopscpt-workshops .workshop header {
  display: flex;
  align-items: center;
  background-color: rgba(21, 149, 47, 0.2);
  color: var(--c-accent);
}
.wp-block-workshopscpt-workshops .workshop header .workshop-nummer {
  height: 100%;
  width: 50px;
  background-color: var(--c-accent);
  display: block;
  padding: 10px 10px;
}
.wp-block-workshopscpt-workshops .workshop header .workshop-nummer p {
  font-weight: bold;
  font-size: 1.2em;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.wp-block-workshopscpt-workshops .workshop header .workshop-leiter {
  font-size: 1.2em;
  display: block;
  color: var(--c-accent);
  margin: 0;
  padding-left: 10px;
}
.wp-block-workshopscpt-workshops .workshop .workshop-content {
  flex-grow: 1;
  background-color: #f8f8f8;
  padding: 20px;
}
.wp-block-workshopscpt-workshops .workshop h2 {
  margin-top: 0;
  font-size: 1.8em;
  color: var(--c-accent);
}
.wp-block-workshopscpt-workshops .workshop footer {
  color: #bcbcbc;
  margin-bottom: 0;
}

.wp-block-workshopscpt-workshops .workshop .registration-closed {
  position: absolute;
  top: -5px;
  right: -5px;
  background: var(--c-warnung);
  color: white;
  border-radius: 8px;
  padding: 2px 10px;
}